@import "../../scss/variables";

.paginate {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  li {
    padding: 5px 10px;
    margin: 2px;
    border: 1px solid $orange;
    border-radius: 10px;
    cursor: pointer;
    a {
      color:  $orange;
      font-weight: bold;
    }
    &:hover {
      background-color: $orange;
      a {
        color: #fff;
      }
    }
  }
}
