.root {
	position: relative;
	left: -100px;
}
.icon {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 12px;
	left: 3%;
	opacity: 0.3;
}
.input {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding: 12px 25px;
	width: 400px;
	font-size: 16px;
	padding-left: 35px;
	padding-right: 40px;
	transition: width 0.2s ease-in-out;
	&:focus {
		border: 1px solid rgba(0, 0, 0, 0.2);
	}
	
}
.closeIcon {
	cursor: pointer;
	position: absolute;
	right: 5%;
	top: 4px;
	opacity: 0.5;
	font-size: 28px;
}